# Define a function that applies fibonacchi using recursion

## Example
Input: 10

Output: [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

In [ ]:
def fibonacci(n):
    if n == 0:
        return []
    elif n == 1:
        return [0]
    elif n == 2:
        return [0, 1]

    # Recursive case
    seq = fibonacci(n - 1)
    seq.append(seq[-1] + seq[-2])
    return seq
n = 10
result = fibonacci(n)
print(result)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

# Write a Python program to remove an item from a given set

## Example
my_set: {1, 2, 3, 4, 5}

Output: {1, 2, 4, 5}

In [ ]:
my_set={1, 2, 3, 4, 5}
my_set.remove(3)
my_set

{1, 2, 4, 5}

# Write a Python program to removes multiple items from a given set

## Example
my_set: {1, 2, 3, 4, 5}

items to be removed: {1, 4}

Output: {2, 3, 5}

In [ ]:
my_set={1, 2, 3, 4, 5}
my_set=my_set-{1,4}
my_set

{2, 3, 5}

# Write a Python program to find the index of an item in a tuple.

## Example
my_tuple: ('apple', 'banana', 'orange', 'grape', 'banana')

index of 'orange' is: 2

In [ ]:
my_tuple=('apple', 'banana', 'orange', 'grape', 'banana')
my_tuple.index('orange')

2

# Ask user to input a sentence then convert this sentence into list of words. (hint: search for split function)

## Example
Input: "Welcome to Amit"

Output: ['Welcome', 'to', 'Amit']

In [ ]:
sentence=input("Enter sentence : ")
out =sentence.split()
out

Enter sentence : Welcome to Amit

['Welcome', 'to', 'Amit']

# Take a string from the user and if it's Palindrome print "Palindrome" otherwise print "Not a Palindrome"

A string is Palindrome if it's read the same from the left and right

## Example
Input: racecar

Output: Palindrome

In [ ]:
A=input("Enter string : ")
B=A[::-1]
if A==B:
  print(" Palindrome")
else:
  print("Not a Palindrome")

Enter string : racecar
 Palindrome

# find the factorial of a number
## Example
(factorial of 5) = 5 * 4 * 3 * 2 * 1 = 120

In [ ]:
num=int(input("Enter number : "))
fact=1
if num==0 or num==1:
   fact=1
else:
    for x in range(1,num+1):
        fact*=x

print(f"(factorial of {num})={fact}" )

Enter number : 5
(factorial of 5)=120

# Create a List of Squares of Numbers from 1 to 10
## Example
Output: [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [ ]:
num=int(input("Enter number : "))
list=[]

for x in range(1,num+1):
    list.append(x**2)

print(list)

Enter number : 10
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

**Another Solution**

In [ ]:
# Write your answer here

# Create a function that Calculates the Sum of Even Numbers in a List
## Example
numbers: [1, 2, 3, 4, 5, 6]

Output: 12

In [ ]:
numbers=[1, 2, 3, 4, 5, 6]
sum=0
for x in numbers:
  if x%2==0:
    sum+=x

print(sum)

12

# Create a function that takes a list as input and return reversed list

## Example
lst: [1, 2, 3]

Output: [3, 2, 1]

In [ ]:
listt = input("Enter list : ").split()
B = listt[::-1]
print(B)

Enter list : 1 2 3
['3', '2', '1']

# create a function that calculates the median of a list of numbers (a median is the middle element in sorted list of numbers)

## Example
numbers: [5, 2, 7, 3, 1]

Output: 3

In [ ]:
numbers= [5, 2, 7, 3, 1]
numbers.sort()
n=len(numbers)
if n % 2 == 1:
    median = numbers[n // 2]
else:
    median = (numbers[n // 2 - 1] + numbers[n // 2]) / 2
print(median)

3

# create a function that calculates the mode of a list of number (mode is the most frequent element in a list)

## Example
lst: [5, 2, 7, 3, 2, 1, 5]

Output: 5

In [ ]:

from collections import Counter

def calculate_mode(lst):
    # Count the frequency of each element in the list
    count = Counter(lst)

    # Find the maximum frequency
    max_count = max(count.values())

    # Find the elements that have the maximum frequency (mode)
    mode = [k for k, v in count.items() if v == max_count]

    # If there is only one mode, return it. Otherwise, return the list of modes.
    return mode[0] if len(mode) == 1 else mode

# Example usage:
lst = [5, 2, 7, 3, 2, 1, 5]
mode = calculate_mode(lst)
print(f"The mode is: {mode}")

The mode is: [5, 2]

# Task: take the mark from the user and convert it to grade according to the following guidelines
1. 85-100 A
2. 75-85 B
3. 65-75 C
4. 50-65 D
5. <50 F

In [ ]:
mark=float(input("Enter mark :"))
if mark<=100 and mark>=85 :
  grade="A"

elif mark<=85 and mark>=75:
  grade="B"

elif mark<=75 and mark>=65:
  grade="C"

elif mark<=65 and mark>=50:
  grade="D"

else :
  grade="F"

print(f"Your grade is :{grade}")

Enter mark :77
Your grade is :B